//Widget
.widget{
    background: $light-blue;
    margin-bottom: $xl-size;
}

.widget__message{
    border-bottom: 1rem solid lighten($color: $light-blue, $amount: 10%);
    color: $off-white;
    text-align: center;   
    padding: $l-size;
    margin: 0;
}
//Widget Header
.widget-header{
    background-color: $blue;
    color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}

.widget-header__title{
    margin: 0;
}